#!/usr/bin/make -f

%:
	dh $@ --without dwz,strip

DTUN_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//')
DTUN_DKMS_DIR := debian/dtun/usr/src/dtun-$(DTUN_VERSION)

override_dh_testroot:

override_dh_auto_build:
	make ctools

override_dh_auto_test:
	make check

override_dh_auto_install:
	mkdir -p debian/dtun/usr/bin
	mkdir -p debian/dtun/etc/dtun
	mkdir -p debian/dtun/lib/systemd/system
	mkdir -p $(DTUN_DKMS_DIR)/module
	mkdir -p $(DTUN_DKMS_DIR)/include/dtun
	cp -f build/dtund debian/dtun/usr/bin/
	cp -f build/dtunctl debian/dtun/usr/bin/
	cp -f samples/dtun-example.conf debian/dtun/etc/dtun/dtun-example.conf
	cp -f debian/dtund.service debian/dtun/lib/systemd/system/dtund.service
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/dkms.conf.in > $(DTUN_DKMS_DIR)/dkms.conf
	cp -f module/Makefile module/Kbuild module/dtun.h module/dtun_main.c \
		module/dtun_netlink.c $(DTUN_DKMS_DIR)/module/
	cp -f include/dtun/uapi.h $(DTUN_DKMS_DIR)/include/dtun/

override_dh_fixperms:
	chmod -R a+rX debian/dtun
	chmod 0755 debian/dtun/usr/bin/*

override_dh_dwz:

override_dh_strip:

override_dh_installdeb:
	mkdir -p debian/dtun/DEBIAN
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/postinst.in > debian/dtun/DEBIAN/postinst
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/prerm.in > debian/dtun/DEBIAN/prerm
	cp -f debian/postrm debian/dtun/DEBIAN/postrm
	cp -f debian/conffiles debian/dtun/DEBIAN/conffiles
	chmod 0755 debian/dtun/DEBIAN/postinst debian/dtun/DEBIAN/prerm debian/dtun/DEBIAN/postrm
	chmod 0644 debian/dtun/DEBIAN/conffiles
	chmod -R a+rX debian/dtun

override_dh_gencontrol:
	dpkg-gencontrol -pdtun -Pdebian/dtun

override_dh_md5sums:
	(cd debian/dtun && find . -type f ! -path './DEBIAN/*' -print0 | xargs -r0 md5sum > DEBIAN/md5sums)

override_dh_builddeb:
	@mkdir -p build
	dpkg-deb --build debian/dtun build/

override_dh_auto_clean:
	make clean || true
	rm -rf debian/dtun debian/.debhelper debian/files debian/*.debhelper.log debian/*.substvars
