#!/usr/bin/make -f

export DEB_RULES_REQUIRES_ROOT := no

%:
	dh $@ --without dwz,strip

DTUN_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/-[^-]*$$//')
DTUN_DKMS_DIR := debian/dtun/usr/src/dtun-$(DTUN_VERSION)

override_dh_auto_build:
	$(MAKE) ctools

override_dh_auto_test:
	$(MAKE) check

override_dh_auto_install:
	install -d debian/dtun/usr/bin debian/dtun/etc/dtun \
		debian/dtun/lib/systemd/system $(DTUN_DKMS_DIR)/module \
		$(DTUN_DKMS_DIR)/include/dtun
	install -m 0755 build/dtund build/dtunctl debian/dtun/usr/bin/
	install -m 0644 samples/dtun-example.conf \
		debian/dtun/etc/dtun/dtun-example.conf
	install -m 0644 debian/dtund.service \
		debian/dtun/lib/systemd/system/dtund.service
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/dkms.conf.in > $(DTUN_DKMS_DIR)/dkms.conf
	install -m 0644 module/Makefile module/Kbuild module/dtun.h module/dtun_main.c \
		module/dtun_netlink.c $(DTUN_DKMS_DIR)/module/
	install -m 0644 include/dtun/uapi.h $(DTUN_DKMS_DIR)/include/dtun/

override_dh_dwz:

override_dh_strip:

override_dh_installdeb:
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/postinst.in > debian/dtun.postinst
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/prerm.in > debian/dtun.prerm
	sed 's/@VERSION@/$(DTUN_VERSION)/g' debian/postrm.in > debian/dtun.postrm
	dh_installdeb
	rm -f debian/dtun.postinst debian/dtun.prerm debian/dtun.postrm

override_dh_gencontrol:
	dpkg-gencontrol -pdtun -Pdebian/dtun -Tdebian/dtun.substvars

override_dh_builddeb:
	dpkg-deb --build --root-owner-group debian/dtun build/

override_dh_auto_clean:
	$(MAKE) clean
